body{
    font-family: "Montserrat", sans-serif;
}
/* Navbar */
.nav{
    align-content: center;
    /* margin-top: 80px;    */
}
.menuList{
   margin-inline: 20%;
   align-content: center;
   font-weight: 600;
   font-size: small;
}


/* Main */
.model-3{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Model-3-Desktop-LHD-v2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.model-price{
    border-bottom: 1px solid black;
}

 #ClickButton{
    width: 45%;
    font-weight: bold;
    font-size: x-small;
    margin: auto;
    margin-top: 300px;
    display: flex;
    justify-content: center; 
}
#OrderButton{
    width: 200px;
    font-weight: 600;
    font-size: small;
}

.model-y{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Model-Y-Desktop-Global.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;  
}
.OrderDrive{
    margin: 300px 0px 0px 0px;
    gap: 20px;
    padding-inline: 30%;      
}
.modelY-span{
    border-bottom: 1px solid black;
}
.model-x{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Model-X-Desktop-v2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.modelX-href{
    border-bottom: 1px solid black;
}
.model-s{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Model-S-Desktop-v2.avif);
    background-size: cover;
    background-position: center;
}
.modelS-href{
    border-bottom: 1px solid white;
}
.CyberTruck{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Cybertruck-Desktop.avif);
    background-size: cover;
    background-position: center;
}


/* Box-F */
.SolarPanel{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-SolarPanels-01-Desktop.avif);
    background-size: cover;
    background-position: center;
}
.SolarPanel-href{
    border-bottom: 1px solid white;
}

/* Box-G */
.SolarRoof{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-SolarRoof-Desktop-Global.avif);
    background-size: cover;
    background-position: -0px;
}

/* Box-H */
.PowerWall{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Powerwall-01-Desktop.avif);
    background-size: cover;
    background-position: -0px;
}

/* Box-I */
.Accessories{
    width: 100%;
    height: 35rem;
    background-image: url(./Assets/Homepage-Accessories-Desktop-NA-APAC.avif);
    background-size: cover;
    /* border: 2px solid red; */
    background-position: -0px;
}
#ShopNow{
    margin-top: 23rem;
}
#ShopButton{
    width: 200px;
    padding-left: 350px;  
    font-weight: bold;
    font-size: x-small;
}
.Footer{
    background-color: black;
}
.whyTesla{
    width: 45%;
    padding-top: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: x-small;
    color: rgb(219, 212, 212);
    margin-inline: auto;
}
.footernav{
    width: 50%;
    margin-inline: auto;
    margin-top: 50px;
    padding: 0px 20px 10px 10px ;
    font-size: x-small;   
}
.footer-menu{
    list-style: none;
}
.whyTesla-href{
    color: white;
    border-bottom: 1px solid white;
}
.footer-href{
    color: rgb(196, 192, 192);
    margin-inline: 5px;
}
/* -------------------------------------- */
/* Demo Page */

.content{
    width: 60%;
    margin: auto;
    margin-top: 70px;
    font-size: small;
}
form{
    font-weight: 500;
}
.scheduleDemo {
    width: 30%;
    font-size: small;
    font-weight: 600;
    background-color: rgba(15, 93, 237, 0.911);
    color: white;
    text-decoration: none;
    padding-block: 10px;
    /* padding-inline: 70px; */
    border-radius: 5px;
    border: 2px solid red;
}
.DemoSpan{
    border-bottom: 1px solid black;
}
.demo-footernav{
    border: 2px solid;
    width: 50%;
    margin: auto;
    font-size: x-small;
    font-weight: 500;
}
.TeslaAssist{
    float: right;
    right: 50px;
    position: sticky;
    bottom: 20px;
}
/* ------------------------------- */
/* Order Page */

.OrderNavbar{
    padding-block: 10px;
    background-color: rgba(255, 255, 255, 0.968);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1; 
}
#carouselExampleAutoplaying{
    width: 65%;
    position: fixed;
    top: 0px;
    transform: translateY(-50px);
    margin-top: 100px;
    /* border: 2px solid red; */
    /*---------------------------------------  */
}
.description{
    margin-top: 100px;
    float: right;
    width: 33%;
    padding: 20px;
    margin-left: 10px;
    font-size: small;
    
}
.carousel-item{
   margin-top: -40px;
}

hr{
    transform: translateY(-20px);
}
section{
    font-size: small;
}
.gasSaving{
    border-bottom: 1px solid black;
}

.wspec-button{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(227, 220, 220);
    background-color: white;
    margin-block: 10px;
}
.wspec-button :focus {
    background-color: yellow;
}
.Rear-Wheel{
    margin-right: 170px;
}
.Rear-Wheel2{
    margin-right: 100px;
}
.Rear-Wheel3{
    margin-right: 110px;
}
.Rear-Wheel4{
    margin-right: 110px;
}
#feature-button{
    width: 150px;
    height: 35px;
    border: 0;
    font-weight: 500;
    margin-inline: 30%;
    margin-top: 20px;
}
.paint-head{
    margin-top: 100px;
}
.paintBall{
    height: 40px;
    width: 40px;
    margin-inline: 5px;
}
#PB-button{
    border-radius: 50px;
    border: 0;
    background-color: transparent;
}
.detail-span{
    font-weight: 500;
}
.wheels{
    margin-inline: 100px;
}
.wheel-paragraph{
    margin-inline: 50px;
    padding-inline: 50px;
}
.interior{
    margin-top: 100px;
}
#Selfdrive-font{
    font-size: 1rem;
}

.last-paragraph{
    display: inline-block;
}
.lastBox{
    display: grid;
    grid-template-columns: 1fr 12fr;
}
.descript-footer{
    margin-top: 100px;
}
.mark-icon{
    color: rgb(255, 175, 47);
}
.last-href{
    border-bottom: 1px solid black;
}
#LastButton{
    width: 250px;
    margin-inline: 50px;
    border: 0;
    font-weight: 500;
    padding-block: 10px;
    border-radius: 10px;
    background-color: rgb(28, 106, 224);
    color: white;
}
/* --------------------------------- */
/* INSURANCE */

.insurance{
    width: 100%;
    height: 40rem;
    background-image: url(./Assets/insurance-img.avif);
    background-position: center;
    background-size: cover;
}
.insurance-icons{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: smaller;
    margin-top: 400px;
}
.PoweredBy{
    width: 80px;
}
.section-A{
    width: 40%;
    margin-inline: auto;
    text-align: center;
    margin-top: 50px;
}
.getInsurance{
    background-color: white;
    font-size: small;
    font-weight: 500;
    padding-inline: 40px;
    padding-block: 10px;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.getInsurance:hover{
    color: white;
    background-color: black;
}
.section-B{
    width: 80%;
    margin-inline: auto;
    margin-top: 50px;
}
.section-C{
    margin-top: 100px;
}
.Img-section{
    width: 100%;
}
.easy-access{
    background-color: black;
    color: white;
}
.details{
    width: 80%;
    margin-inline: auto;
}
.last-container{
    background-color: black;
}
.last-container-child{
    width: 30%;
    margin-inline: auto;
    text-align: center;
    padding-top: 150px;
    /* background-color: black; */
    color: white;
}
.learnmore-qoute{
    width: 50%;
    margin-inline: auto;
    /* border: 1px solid red; */
}
.Lmore-qoute{
    margin-block: 7px;
    padding-block: 5px;
    color: white;
    background-color: black;
    border-color:white;
    border-radius: 5px;
}
.Lmore-qoute:hover{
    background-color: white;
    color: black;
}
#insurance-footer{
    background-color: black;
}
.footer-paragraph{
    width: 50%;
    margin-inline: auto;
    padding-top: 50px;
    font-size: smaller;
    text-align: center;
    color: white;
}
.insure-footernav{
    width: 50%;
    margin-inline: auto;
    font-size: x-small;
    padding: 10px;
}